<footer class="text-white py-5 mt-5" style="background-color: #789A99;">
  <div class="container text-center">
    <h3>Get In Touch</h3>
    <div class="d-flex justify-content-center gap-4 my-4">
      <a [href]="links.facebook" target="_blank" class="text-white fs-2"><i class="fa fa-facebook"></i></a>
      <a [href]="links.github" target="_blank" class="text-white fs-2"><i class="fa fa-github"></i></a>
      <a [href]="links.linkedin" target="_blank" class="text-white fs-2"><i class="fa fa-linkedin"></i></a>
    </div>
    <hr style="background-color: #FFD2C2; height: 2px; opacity: 1;">
    <p class="mb-0">Created with Angular & Bootstrap</p>
  </div>
</footer>